<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="preferExternal" package="com.wordloco.wordchallenge">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:allowBackup="true" android:hardwareAccelerated="true" android:icon="@drawable/launch_icon" android:label="@string/app_title" android:largeHeap="true">
        <meta-data android:name="com.google.android.gms.games.APP_ID" android:value="@string/app_id_gps"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
        <activity android:name="com.facebook.LoginActivity"/>
        <activity android:name="com.wordloco.wordchallenge.view.RateDialog" android:screenOrientation="portrait" android:theme="@style/NoTitleDialog" android:windowNoTitle="true"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <activity android:name="com.wordloco.wordchallenge.view.SplashScreen" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.wordloco.wordchallenge.view.Home" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:name="com.google.android.gms.ads.AdActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.wordloco.wordchallenge.view.Game" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name="com.wordloco.wordchallenge.view.ShareDialog" android:screenOrientation="portrait" android:theme="@style/NoTitleDialog" android:windowNoTitle="true"/>
        <activity android:name="com.wordloco.wordchallenge.view.MarketPlace" android:screenOrientation="portrait" android:theme="@style/NoTitleDialog" android:windowNoTitle="true"/>
        <activity android:name="com.wordloco.wordchallenge.view.OkCancelDialog" android:screenOrientation="portrait" android:theme="@style/NoTitleDialog" android:windowNoTitle="true"/>
        <activity android:name="com.wordloco.wordchallenge.view.AdDialog" android:screenOrientation="portrait" android:theme="@style/NoTitleDialog" android:windowNoTitle="true"/>
        <activity android:name="com.wordloco.wordchallenge.view.InfoTutorial" android:screenOrientation="portrait" android:theme="@style/Theme.Transparent" android:windowNoTitle="true"/>
        <activity android:name="com.wordloco.wordchallenge.view.TestAmazon" android:screenOrientation="portrait"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="com.amazon.device.ads.AdActivity"/>
        <activity android:name="com.wordloco.wordchallenge.view.AmazonAd" android:screenOrientation="portrait"/>
        <activity android:name="com.wordloco.wordchallenge.view.AmazonInt" android:screenOrientation="portrait"/>
        <meta-data android:name="io.fabric.ApiKey" android:value="5c1faffe551313795c8ac5937ddc6f444c2a5e2f"/>
    </application>
</manifest>